h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.huffman-container {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.huffman-input {
    width: 100%;
    height: 5em;
    
}

textarea {
	width: 100%;
	height: 5em;
	padding: 5px;
}

.huffman-output {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Now the CSS*/
* {margin: 0; padding: 0;}

.huffman-output ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.huffman-output li {
	display: table-cell;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.huffman-output li::before, .huffman-output li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.huffman-output li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.huffman-output li:only-child::after, .huffman-output li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.huffman-output li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.huffman-output li:first-child::before, .huffman-output li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.huffman-output li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.huffman-output li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.huffman-output ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.huffman-output li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.huffman-output li a:hover, .huffman-output li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.huffman-output li a:hover+ul li::after, 
.huffman-output li a:hover+ul li::before, 
.huffman-output li a:hover+ul::before, 
.huffman-output li a:hover+ul ul::before{
	border-color:  #94a0b4;
}
